<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

   <!--Add a button-->
   <type name="Magento\Sales\Block\Adminhtml\Order\View">
       <plugin name="sales_order_adminhtml_view_balikobot_button_plugin" type="ZingyBits\BalikobotAdminUi\Plugin\Sales\Block\Adminhtml\Order\View"/>
   </type>

</config>
