<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="balikobot" translate="label" sortOrder="9999" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Balikobot</label>
            <tab>sales</tab>
            <resource>ZingyBits_BalikobotCore::balikobot_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="api_user" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API User</label>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API Key</label>
                </field>
                <field id="send_email_tracking" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Send tracking email</label>
                    <comment>When the pickup request is made to orders, all affected customers will be sent a new email with a tracking code link in it</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="allowed_shippers" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Allowed Shippers</label>
                <field id="shippers" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shippers</label>
                    <frontend_model>ZingyBits\BalikobotAdminUi\Block\Adminhtml\Form\Field\AllowedShippers</frontend_model>
                    <backend_model>ZingyBits\BalikobotCore\Model\Config\Backend\AllowedShippers</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
